<div class="row">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item">
                <label for="filterGuides">Filter guides</label>
                <input type="text" id="filterGuides" [(ngModel)]="filterText">
            </li>
        </ul>
    </div>
    <div class="col-8">
        <div class="card" *ngFor="let guide of (guides | guideFilter: filterText)">
            <div class="card-header">
                {{ guide.name }} <span class="badge badge-info" *ngIf="guide.recommended">Recommended</span>
            </div>
            <div class="card-body">
                <a class="btn btn-primary btn-sm" href="{{guide.href}}">View this guide</a>
            </div>
            <div class="card-footer">
                <div class="badge badge-info">Something</div>
            </div>
        </div>
    </div>
</div>


